@use 'mixin';

.icon,
.label {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  :global(svg),
  :global(::slotted(svg)) {
    width: 32px;
    height: 32px;
  }

  :global(svg) :global(path) {
    fill: var(--color);
    @include mixin.transitionFor(fill 0.3s ease);
  }

  @media screen and (min-width: 640px) {
    @include mixin.transitionFor(0.3s ease, background-color, color);

    :global(svg),
    :global(::slotted(svg)) {
      width: 24px;
      height: 24px;
    }

    &:hover,
    &.active {
      color: var(--bgColor);
      background-color: var(--color);

      :global(svg),
      :global(::slotted(svg)) {
        --color: var(--bgColor);
      }
    }
  }
}

.label {
  font: normal normal normal 10px/12px var(--font);
  color: var(--color);
  text-align: center;

  @media screen and (min-width: 640px) {
    font-size: 12px;
    padding: 0 16px;
    text-align: left;
    justify-content: flex-start;
  }
}
