@use 'mixin';

main {
  position: fixed;
  overflow: hidden;
  bottom: var(--spacingBottom);
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid var(--colorT7);
  z-index: var(--zIndex);
  opacity: 1;

  transition: 0.5s ease-in-out;
  transition-property: bottom, opacity;
  will-change: bottom, opacity;

  &.mobileHidden {
    bottom: calc(var(--spacingBottom) - 100px);
    opacity: 0;
    @media screen and (min-width: 640px) {
      bottom: unset;
      opacity: 1;
    }
  }

  @media screen and (min-width: 640px) {
    top: var(--spacingTop);
    left: unset;
    bottom: unset;
    width: auto;
    border-top: none;
    display: grid;
    grid:
      'c2 c1' 1fr
      / 1fr 50px;
    @include mixin.autoPlaceGridCell(2);

    @include mixin.onlyHoverChild;
    @include mixin.toggleSide(false);
    @include mixin.toggleSideTransition;

    &:hover,
    &.active {
      @include mixin.toggleSide(true);
    }
  }
}
