@use 'mixin';

main {
  position: fixed;
  overflow: hidden;
  bottom: var(--spacingBottom);
  left: var(--spacingLeft);
  right: 0px;
  width: 100%;
  border-top: 1px solid var(--colorT7);
  z-index: var(--zIndex);
  opacity: 1;
  @include mixin.transitionFor(0.5s, bottom);

  &.mobileHidden {
    bottom: calc(var(--spacingBottom) - 100px);
    opacity: 0;
    @media screen and (min-width: 640px) {
      bottom: unset;
      opacity: 1;
    }
  }

  @media screen and (min-width: 640px) {
    top: var(--spacingTop);
    left: unset;
    right: var(--spacingRight);
    bottom: unset;
    width: auto;
    border-top: none;
    display: grid;
    grid:
      'c3 c2 c1' 1fr
      / auto auto 50px;
    @include mixin.autoPlaceGridCell(2);
    @include mixin.onlyHoverChild;
    @include mixin.toggleSide(false);
    @include mixin.toggleSideTransition;

    &:hover,
    &.active {
      @include mixin.toggleSide(true);
    }
  }
  display: flex;
  align-items: center;
}
@keyframes OpenPopUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
