@use 'mixin';

section {
  color: var(--color);
  background-color: var(--bgColorT7);
  overflow: hidden;
  position: relative;

  display: grid;
  grid: 1fr / auto-flow 1fr;

  &.key {
    height: 70px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    .icon {
      display: flex;
      flex-direction: column;
      scroll-snap-align: start;
      min-width: calc(320px / 3);
    }
    .labelM {
      margin-top: 10px;
    }
  }

  &.side {
    display: none;
  }

  @media screen and (min-width: 640px) {
    border-radius: 5px;
    padding: 8px 16px;
    grid: auto-flow 50px / 1fr;
    gap: 0;
    border: 1px solid var(--colorT7);

    .labelM,
    .btnNext {
      display: none;
    }

    &.key,
    &.side {
      overflow-x: hidden;
      height: 100%;
      padding: 0;
      display: grid;
      .icon {
        min-width: unset;
      }
    }
  }
}

.btnNext {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  @include mixin.transitionFor(.2s, opacity);

  &.hide{
    opacity: 0;
  }
  @media screen and (min-width: 640px) {
    display: none;
  }
  .iconNext {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }
}
.btnBack {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  @include mixin.transitionFor(.2s, opacity);
  &.hide{
    opacity: 0;
  }
  @media screen and (min-width: 640px) {
    display: none;
  }
  .iconBack {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(225deg);
  }
}
