@use 'mixin';

section {
  color: var(--color);
  background-color: var(--bgColorT7);
  position: relative;

  display: grid;
  grid: 1fr / auto-flow minmax(90px, 1fr);
  gap: 10px;

  &.key {
    height: 70px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    .icon {
      display: flex;
      flex-direction: column;
      scroll-snap-align: start;
      cursor: pointer;
    }
    .labelM {
      margin-top: 10px;
    }
  }

  &.side {
    display: none;
  }

  &.popUp {
    display: none;
  }

  @media screen and (min-width: 640px) {
    border-radius: 5px;

    padding: 0px 8px;
    grid: auto-flow 50px / 1fr;
    gap: 0;
    border: 1px solid var(--colorT7);

    &.pop {
      border-radius: 0 5px 5px 0;
    }

    .labelM,
    .btnNext {
      display: none;
    }

    &.key,
    &.side {
      overflow-x: hidden;
      height: auto;
      padding: 0;
      display: grid;
      &.pop {
        border-radius: 0;
      }
      .icon {
        min-width: unset;
      }
    }
    &.popUp {
      position: relative;
      z-index: -10;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: translateX(0px);
      @include mixin.transitionFor(0.8s, transform, opacity);

      color: var(--bgColorT7);
      background-color: var(--color);
      border-radius: 4px 0 0 4px;
      border: 1px solid var(--ColorT7);
      .sub {
        display: inline;
        text-align: center;
        font-family: var(--font);
        font-size: 12px;
        text-transform: uppercase;
      }
      .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      &.hidePop {
        transform: translateX(500px);
        opacity: 0;
        @include mixin.transitionFor(0.8s, transform, opacity);
      }
    }
  }
}
.btnBack {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  @include mixin.transitionFor(0.2s, opacity);

  &.hide {
    opacity: 0;
  }
  @media screen and (min-width: 640px) {
    display: none;
  }
  .iconBack {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(225deg);
  }
}

.btnNext {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  @include mixin.transitionFor(0.2s, opacity);
  @media screen and (min-width: 640px) {
    display: none;
  }
  .iconNext {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }
}

.hide {
  opacity: 0;
}
